
@{
    ViewBag.Title = "about";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="intro" class="padding-large jarallax">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="section-title my-5">
                    <div class="breadcrumb text-white">
                        <span class="item"><a href="/Home/Index" class="text-white">Home</a></span> &nbsp; / &nbsp;
                        <span class="item">About Us</span>
                    </div>
                    <h2 class="text-white display-2">About Us</h2>
                </div>

            </div>
        </div>
    </div>

    <div id="jarallax-container-0"
         style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; z-index: -100; clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 0px 100%);">
        <img src="~/Content/images/banner.jpg" class="jarallax-img"
             style="object-fit: cover; object-position: 50% 50%; max-width: none; position: fixed; top: 0px; left: 0px; width: 1305.6px; height: 665.5px; overflow: hidden; pointer-events: none; transform-style: preserve-3d; backface-visibility: hidden; will-change: transform, opacity; margin-top: 72.75px; transform: translate3d(0px, -72.75px, 0px);">
    </div>
</section>

<section class="pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="single-image col-md-12">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut cursus leo vel orci malesuada, id
                    sodales em volutpat. Vivamus sagittis pulvinar dignissim. Mauris tempus a lacus eu aliquet.
                    Mauris gravida at ectus quis venenatis. Aenean quis feugiat turpis. Etiam lacinia interdum nibh,
                    non convallis magna lementum vel. Phasellus varius quam ligula, in lobortis risus porttitor ut.
                    Praesent ipsum elit, lobortis n tincidunt a, dapibus et lorem. Praesent eget dui a est fringilla
                    rutrum sit amet in eros. Vestibulum ut ros sed enim feugiat lobortis. Suspendisse fermentum nunc
                    in est mattis molestie. Mauris ut placerat isus. Aenean mollis neque libero, ut pellentesque
                    arcu dapibus vel.
                </p>
                <p>
                    Praesent nec nisl euismod, lacinia tellus eget, bibendum ex. Maecenas imperdiet gravida pulvinar.
                    aecenas feugiat id tellus sed sodales. Praesent maximus ultricies elit eget accumsan. Proin
                    tortor ante, ltrices a aliquet a, facilisis quis sapien. Donec eu turpis at velit scelerisque
                    faucibus id eget dolor. tiam lobortis ante ipsum, sed venenatis ligula facilisis quis. Fusce
                    blandit commodo mauris, sed fringilla isi congue et. Nunc eu eros ex.
                </p>

            </div>
        </div>
        <div class="row">
            <div class="col"><img src="~/Content/images/post-thumb-2.jpg" alt="About us"></div>
            <div class="col"><img src="~/Content/images/post-thumb-3.jpg" alt="About us"></div>
            <div class="col"><img src="~/Content/images/post-thumb-5.jpg" alt="About us"></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2 class="mt-5">Motto</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                    voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                    non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis
                    unde omnis iste.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                    voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                    non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis
                    unde omnis iste.
                </p>

            </div>

        </div>
    </div>
</section>
