@{
    ViewBag.Title = "Home Page";
}




<section id="intro" class="padding-large jarallax">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="section-title my-5">
                    <h2 class="text-white display-2">
                        Let’s make this world <em>a better place</em> for every child
                    </h2>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-dark" data-aos="fade-up" data-aos-delay="0">
                    <div class="card-body">
                        <h3>Sponsor a child</h3>
                        <p>
                            Nibh urna, nunc molestie mi id lorem. Dui egestas non dum ut risus augue. Arcu eget a
                            donec turpis.
                        </p>
                        <a href="#">Learn more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-dark" data-aos="fade-up" data-aos-delay="300">
                    <div class="card-body">
                        <h3>Make Donation</h3>
                        <p>Quisque montes, convallis lectus massa, in enim ut. Eu consequat at dolor tempor. </p>
                        <a href="#">Learn more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-dark" data-aos="fade-up" data-aos-delay="600">
                    <div class="card-body">
                        <h3>Start a fundraiser</h3>
                        <p>
                            Lacus vitae mauris morbi molestie vulputate per. Metus sollicitudin urna orci sapien
                            mattis netus lacus.
                        </p>
                        <a href="#">Learn more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img src="~/Content/images/banner.jpg" class="jarallax-img">
</section>

<section id="about" class="padding-large">
    <div class="container">
        <div class="row">
            <div class="col-md-7 offset-md-3">
                <header>
                    <h2 class="text-center my-5">
                        Condition of these children is <strong>
                            worse than you actually
                            think
                        </strong> it is
                    </h2>
                </header>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-md-6">
                <blockquote class="blockquote">
                    <p>
                        The number of children aged 5 to 17 years in hazardous work – defined as work that is likely
                        to harm their health, safety or morals – has risen by 6.5 million to 79 million since 2016.
                    </p>
                    <cite class="mb-5">UNICEF/ILO joint publication</cite>
                </blockquote>
            </div>
            <div class="col-md-6"
                 style="background: url('../Content/images/veronika-jorjobert-27w3ULIIJfI-unsplash.jpg');background-size: cover;">
            </div>
        </div>
    </div>
</section>

<section id="mission" class="padding-large no-padding-top">
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-3">
                <div class="chart-box d-flex flex-wrap text-start" data-aos="fade-zoom-in" data-aos-delay="0">
                    <div class="chart" style="max-width: 180px;margin-bottom: 30px;">
                        <canvas id="orphans" width="180" height="180"></canvas>
                    </div>
                    <div>
                        <h3>Orphans</h3>
                        <p>An estimated 153 million children worldwide are orphans (UNICEF)</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="chart-box d-flex flex-wrap text-start" data-aos="fade-zoom-in" data-aos-delay="300">
                    <div class="chart" style="max-width: 180px;margin-bottom: 30px;">
                        <canvas id="labor" width="180" height="180"></canvas>
                    </div>
                    <div>
                        <h3>Child Labor</h3>
                        <p>
                            Worldwide, there are 168 million child laborers, accounting for almost 11% of children
                            (ILO)
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="chart-box d-flex flex-wrap text-start" data-aos="fade-zoom-in" data-aos-delay="600">
                    <div class="chart" style="max-width: 180px;margin-bottom: 30px;">
                        <canvas id="education" width="180" height="180"></canvas>
                    </div>
                    <div>
                        <h3>Education </h3>
                        <p>263 million children and youth are out of school (UNESCO)</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="chart-box d-flex flex-wrap text-start" data-aos="fade-zoom-in" data-aos-delay="900">
                    <div class="chart" style="max-width: 180px;margin-bottom: 30px;">
                        <canvas id="health" width="180" height="180"></canvas>
                    </div>
                    <div>
                        <h3>Health</h3>
                        <p>In 2017, 75% of malnourished children lived in less developed regions (WHO)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="mission" class="bg-grey padding-large">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <header class="text-center my-5">
                    <span class="text-muted">know more</span>
                    <h2><strong>About Help Children Organization</strong></h2>
                </header>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4" data-aos="fade-zoom-in" data-aos-delay="300">
                <h3>About HCO</h3>
                <p>
                    Lacus vitae mauris morbi molestie vulputate lorem semper. Metus sollicitudin urna orci sapien
                    mattis netus lacus.
                </p>
                <a href="#" class="btn-link">Read more</a>
            </div>
            <div class="col-md-4" data-aos="fade-zoom-in" data-aos-delay="600">
                <h3>About HCO</h3>
                <p>
                    Lacus vitae mauris morbi molestie vulputate lorem semper. Metus sollicitudin urna orci sapien
                    mattis netus lacus.
                </p>
                <a href="#" class="btn-link">Read more</a>
            </div>
            <div class="col-md-4" data-aos="fade-zoom-in" data-aos-delay="900">
                <h3>About HCO</h3>
                <p>
                    Lacus vitae mauris morbi molestie vulputate lorem semper. Metus sollicitudin urna orci sapien
                    mattis netus lacus.
                </p>
                <a href="#" class="btn-link">Read more</a>
            </div>
        </div>
    </div>
</section>

<section id="events" class="padding-large">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <header class="text-center my-5">
                    <span class="text-muted">Join us</span>
                    <h2><strong>Events & Programs</strong></h2>
                </header>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <ol class="list-group list-group-flush" data-aos="fade-zoom-in">
                    <li class="list-group-item d-flex justify-content-between align-items-start py-4">
                        <div class="ms-2 me-5 text-uppercase">
                            <span>Sat, Sep 25</span>
                        </div>
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">September Low-Cost Clinic</div>
                            <span class="text-muted">Help Children Save Lives</span>
                        </div>
                        <a href="#" class="btn btn-primary rounded-pill">Learn more</a>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start py-4">
                        <div class="ms-2 me-5 text-uppercase">
                            <span>Fri, Oct 01</span>
                        </div>
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">October Free Clinic</div>
                            <span class="text-muted">Help Children Save Lives</span>
                        </div>
                        <a href="#" class="btn btn-primary rounded-pill">Learn more</a>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start py-4">
                        <div class="ms-2 me-5 text-uppercase">
                            <span>Fri, Oct 02</span>
                        </div>
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">Monthly Dental Checkup</div>
                            <span class="text-muted">Help Children Save Lives</span>
                        </div>
                        <a href="#" class="btn btn-primary rounded-pill">Learn more</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section id="latest-stories" class="pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <header class="text-center my-5">
                    <span class="text-muted">Read our</span>
                    <h2><strong>News & Stories</strong></h2>
                </header>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-evenly">
            <div class="post-item col">
                <figure class="zoom-effect">
                    <a href="#" class="zoom-in">
                        <img src="~/Content/images/post-thumb-1.jpg" alt="stories" class="lgpostImg">
                    </a>
                </figure>
                <a href="single-post.html" class="post-title">
                    Take Your Jeans From Sunday Brunch To A Monday Work
                    Meeting
                </a>
            </div>
            <div class="post-item col">
                <figure class="zoom-effect">
                    <a href="#" class="zoom-in">
                        <img src="~/Content/images/post-thumb-2.jpg" alt="stories"
                             class="lgpostImg">
                    </a>
                </figure>
                <a href="single-post.html" class="post-title">How To Wear Your 501 Jeans For Every Occasion</a>
            </div>
            <div class="post-item col">
                <figure class="zoom-effect">
                    <a href="#" class="zoom-in">
                        <img src="~/Content/images/post-thumb-3.jpg" alt="stories"
                             class="lgpostImg">
                    </a>
                </figure>
                <a href="single-post.html" class="post-title">
                    Going To The Grocery Store Has Never Looked So
                    Good
                </a>
            </div>
            <div class="post-item col">
                <figure class="zoom-effect">
                    <a href="#" class="zoom-in">
                        <img src="~/Content/images/post-thumb-4.jpg" alt="stories"
                             class="lgpostImg">
                    </a>
                </figure>
                <a href="single-post.html" class="post-title">
                    Going To The Grocery Store Has Never Looked So
                    Good
                </a>
            </div>
            <div class="post-item col">
                <figure class="zoom-effect">
                    <a href="#" class="zoom-in">
                        <img src="~/Content/images/post-thumb-4.jpg" alt="stories"
                             class="lgpostImg">
                    </a>
                </figure>
                <a href="single-post.html" class="post-title">
                    Going To The Grocery Store Has Never Looked So
                    Good
                </a>
            </div>
        </div>
    </div>
</section>

<section id="donate" class="cta jarallax padding-large text-white">
    <div class="container">
        <div class="row justify-content-center">

            <div class="section-title justify-content-between col-md-5 mt-5">
                <header>
                    <h2><strong>Sponsor a Child</strong></h2>
                    <p class="text-white">
                        Nibh urna, nunc molestie mi id lorem. Dui egestas non adipiscing interdum
                        ut risus augue. Arcu eget a donec turpis.
                    </p>
                </header>
                <button class="btn btn-primary btn-lg rounded-pill">Donate</button>
            </div>

        </div>
    </div>
    <img src="~/Content/images/banner.jpg" class="jarallax-img" />
</section>